
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --olive: #A1C181;
    --platinum: #EAE6E5;
    --smoky-black:#12130F;
    --blue:#7293A0;
    --gray:#87919E;
    --corn:#F2E86D;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--olive) ;
}
header{
    width: 100%;
    background-color: var(--platinum);
    padding: 2rem;
}
.links{
    text-align: center;
}
.links a{
    text-decoration:none;
    color: var(--smoky-black);
    font-size: 26px;
    position: relative;
}

.links a.active{
    font-weight: bold;
    color: var(--blue);
}

.links a + a {
    margin-left: 2rem;
}

.links a:hover{
    color: var(--blue);
}

.links a::after{
    content: '';
    width: 0;
    height: 2px;
    left: 0;
    bottom: -4px;
    background-color: var(--blue);
    position: absolute;
}   

.links a:hover::after{
    width: 100%;
    transition: width 300ms ease-in-out ;
}

/* CARD */

.card{
    width: 700px;
    min-height: 500px;
    background-color: var(--platinum);
    margin: 32px auto;

    /* SHADOW */
    box-shadow: 4px 4px 10px 10px rgba(0, 0, 0, 0.4);

    /* GRID */
    display: grid;
    grid-template-columns: 40% 60%;

    /* ANIMATION */
    animation-name: go;
    animation-duration: 200ms;
}
.card:hover{
    transform: translateY(-20px);
    transition-duration: 200ms;
}
@keyframes go {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to{
        opacity: 1;
    }
}

.card .image{
    background: url("https://source.unsplash.com/collection/3798383") center center no-repeat;
    background-size: cover;
}

/* DATA */

.data {
    padding: 32px;
}

.data .item{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding:16px 0;
}
.data .item:last-child{
    border: none;
}

.data h3,
.data .item div:nth-child(1){
    font-size: 14px;
    line-height: 24px;
    color: var(--gray);
    letter-spacing: 1px;
    font-weight: normal;
}

.data .item div:nth-child(2){
    color: #555;
    font-weight: bold;
    font-size: 18px;
}

.data h3{
    text-transform: uppercase;
    font-weight:bold;
    color: var(--olive);
}

.data .item span{
    padding: 12px 12px;
    background-color: var(--corn);
    font-size: 16px;
    margin-top: 8px;
    margin-right: 8px;
    display: inline-block;
    border-radius: 16px;
    color: var(--smoky-black);
}